/* custom css goes here */
/*
handy for analysis
 {
    border: 2px dotted black;
}
*/

.table td, .table th {
  padding: .2rem;
}

.alert {
  padding: .2rem;
}

.btn {
  padding: .25rem;
}

p.bigger {
  font-size: 1.2rem;

}


/* if you want your primary buttons orange
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:disabled,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #ef4612;
    background-color: #ef4612;
    border-color: #ef4612;
}
*/


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

main {
  padding-top: 20px;
}

.badge-equipment {
  background-color: #7952b3;
}

.badge-novapass {
  background-color:  #ffc107;
}

.badge-nlgroup {
  background-color:  #28a745;
}

@media print {
  .fixed-table-toolbar
  {
    display: none !important;
  }
}

.floating-list {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.contact-to-add {
  cursor: pointer;
}

.loader svg {
  margin-right: 0.5em;
}
.loader div {
  display: flex;
  align-items:center;
  margin-left: 1em;
}

