{% extends "bootstrap/base.html" %}
{# Loads some of the macros included with Flask-Bootstrap. We are using the
utils module here to automatically render Flask's flashed messages in a
bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}

{% block title %}events{% endblock %}

{% block styles %}
  <link rel="icon" type="image/png" href="/static/novalabs_icon.png">
  {{ super() }}
  {# Call in our scripts *after* bootstrap calls in jquery #}
  <link href="{{ url_for('static', filename='bootstrap-table.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='wautils.css') }}" rel="stylesheet">
  <!-- pass some things things to js -->
  <meta id="is_authenticated" data-value={{current_user.is_authenticated}} >
  <meta id="is_account_admin" data-value={{g.is_wa_admin}}>
{% endblock %}

{% block navbar %}
  {% include "includes/navbar.html" %}
{% endblock %}

{# Inside the ``content`` is where you should place most of your own stuff.
This will keep scripts at the page end and a navbar you add on later
intact. #}
{% block content %}
<h1> Add a content block </h1>
{%- endblock %}

{# #}
{% block scripts %}
  {{ super() }}
  {# Call in our scripts *after* bootstrap calls in jquery #}
  <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-table.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js.cookie.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='waapi.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='base.js') }}"></script>
{% endblock %}
