{% extends "base.html" %}
{% block title %}events{% endblock %}

{% block content %}
<main role="main" class="container">
  {% include "includes/flash.html"  %}

  <div id="topdiv"><!-- Dynamically loaded by the js --></div>

  {% include "includes/waloader.html" %}

  <div id="maindiv"><!-- Dynamically loaded by the js --></div>
</main>
{%- endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='events-page.js') }}"></script>
{% endblock %}
