{% extends "base.html" %}

{% block content %}
<div class="container">
  <main role="main" class="container">
    {% include "includes/flash.html"  %}

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div id="profile"></div>
          {% raw %}
          <script id="profile_mustache" type="text/template">

            <div class="card">
              <div class="card-header py-3 d-flex align-items-center">
                  <img src="{{pic}}" class="rounded-circle align-self-start mr-3" style="max-height:60px;max-width:60px;">
                  <div>
                    <h5 class="card-title mb-0">
                      {{greeting}} {{me.FirstName}}
                    <h5>
                    <h6 class="card-subtitle text-muted">{{me.Email}}</h6>
                  </div>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Wild Apricot Automations is a lil web interface for maker
                  space tool sign-offs and membership managements. Data is
                  pulled from the Wild Apricot portal.
                </p>
              </div>
              <ul class="list-group list-group-flush">
                {{#is_admin}}
                  <li class="list-group-item">
                    🎉 You are an account admin, congrats!
                  </li>
                {{/is_admin}}
                {{#is_signoffer}}
                  <li class="list-group-item">
                    💪 You have the super powers for signing people off.
                  </li>
                {{/is_signoffer}}
              </ul>
              <div class="card-body">
                <a href="/events" class="card-link">View Events</a>
              </div>
            </div>
          </script>
          {% endraw %}
        </div>
        <div class="col-sm">
          {% raw %}
          <script id="signoffs_mustache" type="text/template">
          <h3>Signoffs and Categories</h3>
          <table class="table">
            <tbody>
              {{#signoffs}}
              <tr>
                <td scope="row">
                  <span class="badge badge-secondary badge-{{category}}">{{category}}</span>
                </td>
                <td>{{name}}</td>
              </tr>
              {{/signoffs}}
            </tbody>
          </table>
          </script>
          {% endraw %}
          <div id="signoffs"></div>
        </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='index-page.js') }}"></script>
{% endblock %}
