{% extends "base.html" %}
{% block title %}members{% endblock %}

{% block content %}
<main role="main" class="container">
  {% include "includes/flash.html"  %}

  <div id="topdiv"><!-- Dynamically loaded by the js --></div>

  {% include "includes/waloader.html" %}

  {% if g.is_wa_admin %}
    <div id="maindiv"><!-- Dynamically loaded by the js --></div>
  {% else %}
    <h2>Sorry, You are not a Wild Apricot Account Admin</h2>
  {% endif %}
</main>
{%- endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='members-page.js') }}"></script>
{% endblock %}
