{% extends "base.html" %}

{% block content %}
<div class="container">
  <main role="main" class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to wautils</h1>
      <p class="lead">
      Welcome to your friendly Wild Apricot utility and automation app,
      wautils. This lil app adds some functionality that is not available in
      the default portal.
      <hr class="my-4">
      <p class="lead">
      <div class="row">
        <div class="col-sm-2">
          <btn id="auth_link" class='btn btn-primary'>LOG IN</btn>
        </div>
        </div>
      </p>
      <p>Use your portal.nova-labs.org email and password.</p>
    </div>
    <div>
      <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-10">

        </div>
      </div>
    </div>
  </main>
</div>
{%- endblock %}
